@model VasosInteligentes.ViewModel.ResetPasswordViewModel;
@{
	ViewData["Title"] = "Redefinir Senha";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Redefinir Senha</h1>
<div class="text-danger" asp-validation-summary="All"></div>
<form asp-action="ResetPassword">
	<input type="hidden"  asp-for="Token"/>
	<input type="hidden" asp-for="UserId"/>
	<div class="form-group gap-3">
		<label asp-for="Email">Email</label>
		<input type="email" asp-for="Email" class="form-control"/>

		<label asp-for="NewPassword">Senha</label>
		<input type="password" asp-for="NewPassword" />
		
		<label asp-for="ConfirmPassword">Comfirmar Senha</label>
		<input type="password" asp-for="ConfirmPassword" />

		<button type="submit" class="btn btn-primary">Enviar</button>
	</div>
</form>
